<ion-header>
  <ion-toolbar>
    <ion-title>
      Timer
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h1>
      {{selectorDeportista.nombre}}
    </h1>
    <h1 class="container-tittle">
      {{ time | async }}
    </h1>
  
   <div>
    <ion-button *ngIf="!startStopButton" fill="clear" (click)="startStopTimer()" style="height: 100%;">      
      <ion-icon name="play-circle-sharp"  style="zoom:2.5;"></ion-icon>
    </ion-button>
    
    <ion-button *ngIf="startStopButton" fill="clear" (click)="startStopTimer()" style="height: 100%;">     
      <ion-icon name="pause-circle" style="zoom:2.5;"></ion-icon> 
    </ion-button>

    <ion-button *ngIf="isPlaying && !startStopButton" fill="clear" (click)="stopTimer()" style="height: 100%;">
      <ion-icon name="stop-circle-sharp"  style="zoom:2.5;"></ion-icon>
    </ion-button>
    
    <ion-button *ngIf="startStopButton" fill="clear" (click)="crearBanderas()" style="height: 100%;">
      <ion-icon name="flag" style="zoom:2;"></ion-icon>
    </ion-button>

    <ion-button *ngIf="isPlaying" fill="clear" (click)="saveTime()" style="height: 100%;">
      <ion-icon name="save" style="zoom:2;"></ion-icon>
    </ion-button>
   </div>
  </div>
  <div *ngIf="mostrarBanderas" style="margin-top: 15px;">
    <ion-list>
      <ion-item *ngFor="let item of lstBanderas">
        <ion-icon style="margin-right: 10px;" slot="start" name="flag"></ion-icon>
        <ion-label style="max-width: 30px;" >{{item.cantidadBanderas}}</ion-label>
        <ion-label>{{item.time}}</ion-label>
        <ion-label>{{item.diferencia}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>  

