<ion-header>
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="swimmerForm" (ngSubmit)="login()">
    <ion-item *ngIf="false">
      <ion-label position="stacked">Enter your name*</ion-label>
      <ion-input
        type="number"
        placeholder="id"
        formControlName="id"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Enter your name*</ion-label>
      <ion-input
        type="text"
        placeholder="name"
        formControlName="name"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Enter your last name*</ion-label>
      <ion-input
        type="text"
        placeholder="last name"
        formControlName="apellido"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Enter your age*</ion-label>
      <ion-input
        type="number"
        placeholder="age"
        formControlName="edad"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Day of birth*</ion-label>
      <ion-input
        type="date"
        placeholder="yyyy-mm-dd"
        formControlName="date"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Enter your celphone*</ion-label>
      <ion-input
        type="tel"
        placeholder="celphone"
        formControlName="celular"
      ></ion-input>
    </ion-item>
    <ion-item r>
      <ion-label position="stacked">Enter your email*</ion-label>
      <ion-input
        type="email"
        placeholder="email"
        formControlName="email"
        readonly
      ></ion-input>
    </ion-item>

    <ion-button
      type="submit"
      expand="block"
      [disabled]="!swimmerForm.valid"
      color="primary"
    ></ion-button>
  </form>

</ion-content>
