<ion-content>
  <router-outlet name="inicio"></router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="timer">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Timer</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="training">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Training</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="stats">
        <ion-icon name="map"></ion-icon>
        <ion-label>Stats</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="swimmer">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Swimmer</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
