.content {
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url(/assets/prueba.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: white;
  .logo {
    &-top {
      height: 50%;
      width: 100%;
      position: absolute;
    }
  }
  .login-container {
    align-self: center;
    width: 100%;
    h1 {
      color: #002973;
      font-size: 48px;
      text-align: center;
    }
    &-content {
      text-align: center;
      ion-item {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
      }
      button {
        margin-top: 20px;
        color: #5cbcfc;
        mat-icon {
          font-size: 50px;
          position: relative;
          left: -10px;
        }
      }
    }
  }
}


ion-content{
  --background: #5cbcfc;
}
@-webkit-keyframes scale-in-center{0%{-webkit-transform:scale(0);transform:scale(0);opacity:1}100%{-webkit-transform:scale(1);transform:scale(1);opacity:1}}@keyframes scale-in-center{0%{-webkit-transform:scale(0);transform:scale(0);opacity:1}100%{-webkit-transform:scale(1);transform:scale(1);opacity:1}}
.container{
  -webkit-animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  img{
      height: 200px;
      margin-top: 60%;
  }
}
