<div class="content" *ngIf="ishidden">
  <div class="login-container">
    <h1>LOGIN</h1>
    <div class="login-container-content">
      <form [formGroup]="userForm" (ngSubmit)="login()" >
        <ion-item style="border-radius: 44px;margin-bottom: 10px;">
          <ion-label position="floating">Email</ion-label>
          <ion-input formControlName="email"></ion-input>
        </ion-item>
        <ion-item style="border-radius: 44px;">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <button  type="submit" [disabled]="!userForm.valid"
        mat-icon-button aria-label="login">
          <mat-icon>double_arrow</mat-icon>
        </button>
      </form>
    </div>
  </div>
</div>


<ion-content *ngIf="!ishidden">
  <div class="container ion-text-center">
    <img src="assets/log.png" alt="logo">
  </div>
</ion-content>
  


