<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<div class="container">
  <mat-accordion>
      <mat-expansion-panel  *ngFor="let item of swimmers" style="    margin-bottom: 10px;">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{item.nombre}}
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p> {{item.apellido}}</p>
        <p> {{item.edad}}</p>
        <p> {{item.celular}}</p>
        <p> {{item.categoria}}</p>
        <ion-button (click)="tomarTiempo(item)">Tomar tiempo</ion-button>
      </mat-expansion-panel>

    </mat-accordion>
</div>


</ion-content>
