<ion-header>
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  
    <ion-grid>
      <ion-row>
        <ion-col>
        </ion-col>
        <ion-col>
          <ion-card-content>
            <ion-avatar >
              <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" />
            </ion-avatar>
            <br>
            <ion-label position="floating">USERNAME</ion-label>
          </ion-card-content>
        </ion-col>
        <ion-col>
        </ion-col>
      </ion-row>
    </ion-grid>
 
  </ion-card>
  

</ion-content>
